<!DOCTYPE html>
<html>
<head>
	<title>Student Details</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2>Data From Table</h2>

<table class="table table-bordered">

	<thead>
			<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Roll NO</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Branch</th>
				</tr>
	</thead>
	<tbody>
			{% for record in data %}
				<tr>
					<td>{{record.id}}</td>
					<td>{{record.s_name}}</td>
					<td>{{record.roll_no}}</td>
					<td>{{record.mail_id}}</td>
					<td>{{record.phone_no}}</td>
					<td>{{record.branch}}</td>
				</tr>
				{% endfor %}
		
	</tbody>

			
	
</table>
</body>
</html>